#main{
	margin: 0 auto;
	width: 70%;
	border: 1px solid silver;
	padding: 10px;
	overflow: hidden;
}

h1{
	text-align: center;
}

h3{
	padding-left: 20px;
}

#input_values{
	overflow: hidden;
	width: 25%;
	float: left;
}

#input_values input{
	float: right;
}


#result{
	float: right;
	width: 70%;
	border: 1px solid silver;
	margin-top: 55px;
}

#result_place{
	padding: 10px;
}